.footer {
    padding: 3rem 0;
    max-width: 80rem;
    margin: 0 auto;

}

.footer-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 3rem 2rem;
    background-color: #f3f4f6;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    justify-content: space-between;
}

.footer-container a img {
    width: 150px;
    height: 100px;
}

.footer-container a {
    text-decoration: none;
    font-size: 15px;
    font-family: montserrat;
    font-weight: 500;
    color: #333;
    transition: all 0.2 ease;
}

.footer-container div {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-direction: row-reverse;

}

.footer-container a i {

    font-size: 20px;
    transition: all 0.2 ease;

}

.footer-container i:hover{
    color: #147df0;
}

.footer-container a:hover {
    color: #147df0;
}