<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Helps - Drill & Hang </title>


    <!-- icons kit -->
    <script src="https://kit.fontawesome.com/51d768ed59.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />

    <!-- slider kit -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/components/styles/preloader.css">
    <link rel="stylesheet" href="/components/styles/navbar.css">
    <link rel="stylesheet" href="/components/styles/banner.css">
    <link rel="stylesheet" href="/components/styles/header.css">
    <link rel="stylesheet" href="/components/styles/service-video.css">
    <link rel="stylesheet" href="/components/styles/slider2.css">
    <link rel="stylesheet" href="/components/styles/work-section.css">
    <link rel="stylesheet" href="/components/styles/booked-section.css">
    <link rel="stylesheet" href="/components/styles/womens-sales.css">
    <link rel="stylesheet" href="/components/styles/women-spa-section.css">
    <link rel="stylesheet" href="/components/styles/banner2.css">
    <link rel="stylesheet" href="/components/styles/appliance-repair.css">
    <link rel="stylesheet" href="/components/styles/quick-home-appliances.css">
    <link rel="stylesheet" href="/components/styles/footer.css">
    <link rel="stylesheet" href="/components/styles/main-footer-section.css">
    <link rel="stylesheet" href="/components/styles/modal.css">
    <link rel="stylesheet" href="/components/styles/purchase-category.css">
    <link rel="stylesheet" href="/components/styles/account.css">
    <link rel="stylesheet" href="/components/styles/work-category.css">
    <link rel="stylesheet" href="/components/styles/Ac-and-repair.css">
    <link rel="stylesheet" href="/components/styles/waxing.css">
    <link rel="shortcut icon" href="/assets/images/favicon-logo.png" type="image/x-icon">
</head>

<body>

    <!-- navbar section -->
    <nav>
        <div class="container">
            <div class="logo">
                <a href="/index.html" class="logo-img" aria-label="Go to Homepage">
                    <img src="/assets/images/logo2.png" alt="Logo">

                </a>

                <a href="/components/pages/navbar/native.html" target="_blank" class="native">
                    <p>Native</p>
                </a>

            </div>

            <div class="nav-inputs">
                <div class="input-group" id="location-input-group">
                    <i class="fa-solid fa-location-dot"></i>
                    <input type="text" placeholder="Enter Location">
                    <i class="fa-solid fa-angle-down"></i>
                </div>

                <div class="input-group">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" id="search-input" placeholder="Search for">
                </div>
            </div>

            <div class="nav-icons">
                <a href="/bookmarks" aria-label="Bookmarks">
                    <i class="ri-bookmark-2-line"></i>
                </a>
                <a href="/cart" aria-label="Shopping Cart">
                    <i class="ri-shopping-cart-2-line"></i>
                </a>
                <a href="/components/pages/account-section/account.html" aria-label="Account">
                    <i class="ri-account-circle-line"></i>
                </a>
            </div>
        </div>
    </nav>


    <!-- modal section -->
    <div id="location-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>

            <div class="input-wrapper">
                <i class="ri-arrow-left-line"></i>
                <input type="text" placeholder="Search for your location/society/apartment">
            </div>

            <div class="location-tracker">
                <i class="ri-crosshair-2-line"></i>
                <p>Use my current location</p>
            </div>

            <!-- Add content for the modal here -->
        </div>
    </div>



    <div id="content-section">
        <div class="container">
            <div class="left-side">

                <div class="left-category-details">

                    <h1>
                        Carpenter
                    </h1>
                    <div class="ratings">
                        <i class="ri-star-s-fill"></i>
                        <p>4.80 (29K bookings)</p>
                    </div>

                    <a href="" class="comparision-link">
                        <p>6 month warranty & verified quotes</p>
                        <i class="ri-arrow-right-s-line"></i>
                    </a>


                    <div class="work-container">

                        <div class="works-listed">
                            <h2>Select a Service</h2>
                            <div class="work-row">
                                <a href="">
                                    <img src="/assets/images/Drill and hang/1.png" alt="">
                                    <p>Super Saver Deals</p>
                                </a>
                                <a href="">
                                    <img src="/assets/images/Drill and hang/2.png" alt="">
                                    <p>Super Saver Deals</p>
                                </a>
                                <a href="">
                                    <img src="/assets/images/Drill and hang/3.png" alt="">
                                    <p>Super Saver Deals</p>
                                </a>
                                <a href="">
                                    <img src="/assets/images/Drill and hang/4.png" alt="">
                                    <p>Super Saver Deals</p>
                                </a>
                                <a href="">
                                    <img src="/assets/images/Drill and hang/5.png" alt="">
                                    <p>Super Saver Deals</p>
                                </a>
                                <a href="">
                                    <img src="/assets/images/Drill and hang/6.png" alt="">
                                    <p>Super Saver Deals</p>
                                </a>
                                <a href="">
                                    <img src="/assets/images/Drill and hang/7.png" alt="">
                                    <p>Super Saver Deals</p>
                                </a>
                                <a href="">
                                    <img src="/assets/images/Drill and hang/8.png" alt="">
                                    <p>Super Saver Deals</p>
                                </a>
                                <a href="">
                                    <img src="/assets/images/Drill and hang/9.png" alt="">
                                    <p>Super Saver Deals</p>
                                </a>




                            </div>
                        </div>

                    </div>




                </div>

            </div>


            <div class="right-side">


                <div class="right-category-details">
                    <!-- <div class="right-category-img">
                        <img src="/assets/images/legendary.png" alt="">
                    </div> -->


                    <div class="product-details-section">

                        <div class="product-details-left">







                            <!-- 1.New product card details section -->
                            <div class="product-details">
                                <h1>Balcony</h1>
                                <!-- <div class="product-image">
                                    <img src="/assets/images/slider-2 images/2.png" alt="">
                                </div> -->

                                <a href="" class="newly-added-a">30-DAY WARRANTY</a>
                                <div class="new-product-container">


                                    <div class="new-product-container-2">
                                        <div class="product-knowns">
                                            <div class="product-names">
                                                <h2>Ceiling-mounted hanger
                                                    installation</h2>
                                                <div class="product-ratings">
                                                    <i class="ri-star-s-fill"></i>
                                                    <p>4.80 (29K bookings)</p>
                                                </div>
                                                <p class="pricing">₹ 100,000 </p>
                                            </div>



                                        </div>

                                        <hr>
                                        <div class="text-details">
                                            <ul>
                                                <li>10-stage purifier with smart monitoring to keep track of water &
                                                    filter
                                                    quality</li>
                                                <li>2-year unconditional warranty on all filters with free replacement &
                                                    spare
                                                    parts</li>
                                            </ul>

                                            <a href="" class="view-details">View Details</a>
                                        </div>
                                    </div>

                                    <a href="" class="newly-added-card">
                                        <img src="/assets/images/Drill and hang/10.png" alt="">
                                        <button>Add</button>
                                    </a>

                                </div>


                            </div>



                            <!-- 2.New product card details section  -->
                            <div class="product-details">
                                <!-- <h1>Install & uninstall</h1> -->
                                <!-- <div class="product-image">
                                    <img src="/assets/images/slider-2 images/2.png" alt="">
                                </div> -->

                                <a href="" class="newly-added-a">30-DAY WARRANTY</a>
                                <div class="new-product-container new-product-container-2">


                                    <div class="new-product-container-2">
                                        <div class="product-knowns">
                                            <div class="product-names">
                                                <h2>Wall/ door hanger installation</h2>
                                                <div class="product-ratings">
                                                    <i class="ri-star-s-fill"></i>
                                                    <p>4.80 (29K bookings)</p>
                                                </div>
                                                <p class="pricing">₹ 100,000 </p>
                                            </div>



                                        </div>

                                        <hr>
                                        <div class="text-details text-details-2">
                                            <ul class="new-alignment">
                                                <li>10-stage purifier with smart monitoring to keep track of water &
                                                    filter
                                                    quality</li>
                                                <li>2-year unconditional warranty on all filters with free replacement &
                                                    spare
                                                    parts</li>
                                            </ul>

                                            <a href="" class="view-details ">View Details</a>
                                        </div>
                                    </div>

                                    <a href="" class="newly-added-card">
                                        <img src="/assets/images/Drill and hang/11.png" alt="">
                                        <button>Add</button>
                                    </a>

                                </div>


                            </div>

                            <div class="product-details">
                                <!-- <h1>Install & uninstall</h1> -->
                                <!-- <div class="product-image">
                                    <img src="/assets/images/slider-2 images/2.png" alt="">
                                </div> -->

                                <a href="" class="newly-added-a">30-DAY WARRANTY</a>
                                <div class="new-product-container new-product-container-2">


                                    <div class="new-product-container-2">
                                        <div class="product-knowns">
                                            <div class="product-names">
                                                <h2>AC Install</h2>
                                                <div class="product-ratings">
                                                    <i class="ri-star-s-fill"></i>
                                                    <p>4.80 (29K bookings)</p>
                                                </div>
                                                <p class="pricing">₹ 100,000 </p>
                                            </div>



                                        </div>

                                        <hr>
                                        <div class="text-details text-details-2">
                                            <ul class="new-alignment">
                                                <li>10-stage purifier with smart monitoring to keep track of water &
                                                    filter
                                                    quality</li>
                                                <li>2-year unconditional warranty on all filters with free replacement &
                                                    spare
                                                    parts</li>
                                            </ul>

                                            <a href="" class="view-details ">View Details</a>
                                        </div>
                                    </div>

                                    <a href="" class="newly-added-card">
                                        <img src="/assets/images/Drill and hang/12.png" alt="">
                                        <button>Add</button>
                                    </a>

                                </div>


                            </div>

                            <div class="product-details">
                                <!-- <h1>Install & uninstall</h1> -->
                                <!-- <div class="product-image">
                                    <img src="/assets/images/slider-2 images/2.png" alt="">
                                </div> -->

                                <a href="" class="newly-added-a">30-DAY WARRANTY</a>
                                <div class="new-product-container new-product-container-2">


                                    <div class="new-product-container-2">
                                        <div class="product-knowns">
                                            <div class="product-names">
                                                <h2>AC Install</h2>
                                                <div class="product-ratings">
                                                    <i class="ri-star-s-fill"></i>
                                                    <p>4.80 (29K bookings)</p>
                                                </div>
                                                <p class="pricing">₹ 100,000 </p>
                                            </div>



                                        </div>

                                        <hr>
                                        <div class="text-details text-details-2">
                                            <ul class="new-alignment">
                                                <li>10-stage purifier with smart monitoring to keep track of water &
                                                    filter
                                                    quality</li>
                                                <li>2-year unconditional warranty on all filters with free replacement &
                                                    spare
                                                    parts</li>
                                            </ul>

                                            <a href="" class="view-details ">View Details</a>
                                        </div>
                                    </div>

                                    <a href="" class="newly-added-card">
                                        <img src="/assets/images/Drill and hang/13.png" alt="">
                                        <button>Add</button>
                                    </a>

                                </div>


                            </div>
                            <div class="product-details">
                                <h1>Repair</h1>
                                <!-- <div class="product-image">
                                    <img src="/assets/images/slider-2 images/2.png" alt="">
                                </div> -->

                                <a href="" class="newly-added-a">30-DAY WARRANTY</a>
                                <div class="new-product-container">


                                    <div class="new-product-container-2">
                                        <div class="product-knowns">
                                            <div class="product-names">
                                                <h2>AC Install</h2>
                                                <div class="product-ratings">
                                                    <i class="ri-star-s-fill"></i>
                                                    <p>4.80 (29K bookings)</p>
                                                </div>
                                                <p class="pricing">₹ 100,000 </p>
                                            </div>



                                        </div>

                                        <hr>
                                        <div class="text-details">
                                            <ul>
                                                <li>10-stage purifier with smart monitoring to keep track of water &
                                                    filter
                                                    quality</li>
                                                <li>2-year unconditional warranty on all filters with free replacement &
                                                    spare
                                                    parts</li>
                                            </ul>

                                            <a href="" class="view-details">View Details</a>
                                        </div>
                                    </div>

                                    <a href="" class="newly-added-card">
                                        <img src="/assets/images/Drill and hang/14.png" alt="">
                                        <button>Add</button>
                                    </a>

                                </div>


                            </div>

                            <div class="product-details">
                                <!-- <h1>Install & uninstall</h1> -->
                                <!-- <div class="product-image">
                                    <img src="/assets/images/slider-2 images/2.png" alt="">
                                </div> -->

                                <a href="" class="newly-added-a">30-DAY WARRANTY</a>
                                <div class="new-product-container new-product-container-2">


                                    <div class="new-product-container-2">
                                        <div class="product-knowns">
                                            <div class="product-names">
                                                <h2>AC Install</h2>
                                                <div class="product-ratings">
                                                    <i class="ri-star-s-fill"></i>
                                                    <p>4.80 (29K bookings)</p>
                                                </div>
                                                <p class="pricing">₹ 100,000 </p>
                                            </div>



                                        </div>

                                        <hr>
                                        <div class="text-details text-details-2">
                                            <ul class="new-alignment">
                                                <li>10-stage purifier with smart monitoring to keep track of water &
                                                    filter
                                                    quality</li>
                                                <li>2-year unconditional warranty on all filters with free replacement &
                                                    spare
                                                    parts</li>
                                            </ul>

                                            <a href="" class="view-details ">View Details</a>
                                        </div>
                                    </div>

                                    <a href="" class="newly-added-card">
                                        <img src="/assets/images/Drill and hang/15.png" alt="">
                                        <button>Add</button>
                                    </a>

                                </div>


                            </div>


                            <div class="product-details">
                                <!-- <h1>Install & uninstall</h1> -->
                                <!-- <div class="product-image">
                                    <img src="/assets/images/slider-2 images/2.png" alt="">
                                </div> -->

                                <a href="" class="newly-added-a">30-DAY WARRANTY</a>
                                <div class="new-product-container new-product-container-2">


                                    <div class="new-product-container-2">
                                        <div class="product-knowns">
                                            <div class="product-names">
                                                <h2>AC Install</h2>
                                                <div class="product-ratings">
                                                    <i class="ri-star-s-fill"></i>
                                                    <p>4.80 (29K bookings)</p>
                                                </div>
                                                <p class="pricing">₹ 100,000 </p>
                                            </div>



                                        </div>

                                        <hr>
                                        <div class="text-details text-details-2">
                                            <ul class="new-alignment">
                                                <li>10-stage purifier with smart monitoring to keep track of water &
                                                    filter
                                                    quality</li>
                                                <li>2-year unconditional warranty on all filters with free replacement &
                                                    spare
                                                    parts</li>
                                            </ul>

                                            <a href="" class="view-details ">View Details</a>
                                        </div>
                                    </div>

                                    <a href="" class="newly-added-card">
                                        <img src="/assets/images/Drill and hang/16.png" alt="">
                                        <button>Add</button>
                                    </a>

                                </div>


                            </div>
                            <div class="product-details">
                                <!-- <h1>Install & uninstall</h1> -->
                                <!-- <div class="product-image">
                                    <img src="/assets/images/slider-2 images/2.png" alt="">
                                </div> -->

                                <a href="" class="newly-added-a">30-DAY WARRANTY</a>
                                <div class="new-product-container new-product-container-2">


                                    <div class="new-product-container-2">
                                        <div class="product-knowns">
                                            <div class="product-names">
                                                <h2>AC Install</h2>
                                                <div class="product-ratings">
                                                    <i class="ri-star-s-fill"></i>
                                                    <p>4.80 (29K bookings)</p>
                                                </div>
                                                <p class="pricing">₹ 100,000 </p>
                                            </div>



                                        </div>

                                        <hr>
                                        <div class="text-details text-details-2">
                                            <ul class="new-alignment">
                                                <li>10-stage purifier with smart monitoring to keep track of water &
                                                    filter
                                                    quality</li>
                                                <li>2-year unconditional warranty on all filters with free replacement &
                                                    spare
                                                    parts</li>
                                            </ul>

                                            <a href="" class="view-details ">View Details</a>
                                        </div>
                                    </div>

                                    <a href="" class="newly-added-card">
                                        <img src="/assets/images/Drill and hang/17.png" alt="">
                                        <button>Add</button>
                                    </a>

                                </div>


                            </div>
                            <div class="product-details">
                                <!-- <h1>Install & uninstall</h1> -->
                                <!-- <div class="product-image">
                                    <img src="/assets/images/slider-2 images/2.png" alt="">
                                </div> -->

                                <a href="" class="newly-added-a">30-DAY WARRANTY</a>
                                <div class="new-product-container new-product-container-2">


                                    <div class="new-product-container-2">
                                        <div class="product-knowns">
                                            <div class="product-names">
                                                <h2>AC Install</h2>
                                                <div class="product-ratings">
                                                    <i class="ri-star-s-fill"></i>
                                                    <p>4.80 (29K bookings)</p>
                                                </div>
                                                <p class="pricing">₹ 100,000 </p>
                                            </div>



                                        </div>

                                        <hr>
                                        <div class="text-details text-details-2">
                                            <ul class="new-alignment">
                                                <li>10-stage purifier with smart monitoring to keep track of water &
                                                    filter
                                                    quality</li>
                                                <li>2-year unconditional warranty on all filters with free replacement &
                                                    spare
                                                    parts</li>
                                            </ul>

                                            <a href="" class="view-details ">View Details</a>
                                        </div>
                                    </div>

                                    <a href="" class="newly-added-card">
                                        <img src="/assets/images/Drill and hang/18.png" alt="">
                                        <button>Add</button>
                                    </a>

                                </div>


                            </div>
                            <div class="product-details">
                                <!-- <h1>Install & uninstall</h1> -->
                                <!-- <div class="product-image">
                                    <img src="/assets/images/slider-2 images/2.png" alt="">
                                </div> -->

                                <a href="" class="newly-added-a">30-DAY WARRANTY</a>
                                <div class="new-product-container new-product-container-2">


                                    <div class="new-product-container-2">
                                        <div class="product-knowns">
                                            <div class="product-names">
                                                <h2>AC Install</h2>
                                                <div class="product-ratings">
                                                    <i class="ri-star-s-fill"></i>
                                                    <p>4.80 (29K bookings)</p>
                                                </div>
                                                <p class="pricing">₹ 100,000 </p>
                                            </div>



                                        </div>

                                        <hr>
                                        <div class="text-details text-details-2">
                                            <ul class="new-alignment">
                                                <li>10-stage purifier with smart monitoring to keep track of water &
                                                    filter
                                                    quality</li>
                                                <li>2-year unconditional warranty on all filters with free replacement &
                                                    spare
                                                    parts</li>
                                            </ul>

                                            <a href="" class="view-details ">View Details</a>
                                        </div>
                                    </div>

                                    <a href="" class="newly-added-card">
                                        <img src="/assets/images/Drill and hang/19.png" alt="">
                                        <button>Add</button>
                                    </a>

                                </div>


                            </div>
                            <div class="product-details">
                                <!-- <h1>Install & uninstall</h1> -->
                                <!-- <div class="product-image">
                                    <img src="/assets/images/slider-2 images/2.png" alt="">
                                </div> -->

                                <a href="" class="newly-added-a">30-DAY WARRANTY</a>
                                <div class="new-product-container new-product-container-2">


                                    <div class="new-product-container-2">
                                        <div class="product-knowns">
                                            <div class="product-names">
                                                <h2>AC Install</h2>
                                                <div class="product-ratings">
                                                    <i class="ri-star-s-fill"></i>
                                                    <p>4.80 (29K bookings)</p>
                                                </div>
                                                <p class="pricing">₹ 100,000 </p>
                                            </div>



                                        </div>

                                        <hr>
                                        <div class="text-details text-details-2">
                                            <ul class="new-alignment">
                                                <li>10-stage purifier with smart monitoring to keep track of water &
                                                    filter
                                                    quality</li>
                                                <li>2-year unconditional warranty on all filters with free replacement &
                                                    spare
                                                    parts</li>
                                            </ul>

                                            <a href="" class="view-details ">View Details</a>
                                        </div>
                                    </div>

                                    <a href="" class="newly-added-card">
                                        <img src="/assets/images/Drill and hang/20.png" alt="">
                                        <button>Add</button>
                                    </a>

                                </div>


                            </div>
                            <div class="product-details">
                                <!-- <h1>Install & uninstall</h1> -->
                                <!-- <div class="product-image">
                                    <img src="/assets/images/slider-2 images/2.png" alt="">
                                </div> -->

                                <a href="" class="newly-added-a">30-DAY WARRANTY</a>
                                <div class="new-product-container new-product-container-2">


                                    <div class="new-product-container-2">
                                        <div class="product-knowns">
                                            <div class="product-names">
                                                <h2>AC Install</h2>
                                                <div class="product-ratings">
                                                    <i class="ri-star-s-fill"></i>
                                                    <p>4.80 (29K bookings)</p>
                                                </div>
                                                <p class="pricing">₹ 100,000 </p>
                                            </div>



                                        </div>

                                        <hr>
                                        <div class="text-details text-details-2">
                                            <ul class="new-alignment">
                                                <li>10-stage purifier with smart monitoring to keep track of water &
                                                    filter
                                                    quality</li>
                                                <li>2-year unconditional warranty on all filters with free replacement &
                                                    spare
                                                    parts</li>
                                            </ul>

                                            <a href="" class="view-details ">View Details</a>
                                        </div>
                                    </div>

                                    <a href="" class="newly-added-card">
                                        <img src="/assets/images/Drill and hang/21.png" alt="">
                                        <button>Add</button>
                                    </a>

                                </div>


                            </div>
                            <div class="product-details">
                                <!-- <h1>Install & uninstall</h1> -->
                                <!-- <div class="product-image">
                                    <img src="/assets/images/slider-2 images/2.png" alt="">
                                </div> -->

                                <a href="" class="newly-added-a">30-DAY WARRANTY</a>
                                <div class="new-product-container new-product-container-2">


                                    <div class="new-product-container-2">
                                        <div class="product-knowns">
                                            <div class="product-names">
                                                <h2>AC Install</h2>
                                                <div class="product-ratings">
                                                    <i class="ri-star-s-fill"></i>
                                                    <p>4.80 (29K bookings)</p>
                                                </div>
                                                <p class="pricing">₹ 100,000 </p>
                                            </div>



                                        </div>

                                        <hr>
                                        <div class="text-details text-details-2">
                                            <ul class="new-alignment">
                                                <li>10-stage purifier with smart monitoring to keep track of water &
                                                    filter
                                                    quality</li>
                                                <li>2-year unconditional warranty on all filters with free replacement &
                                                    spare
                                                    parts</li>
                                            </ul>

                                            <a href="" class="view-details ">View Details</a>
                                        </div>
                                    </div>

                                    <a href="" class="newly-added-card">
                                        <img src="/assets/images/Drill and hang/22.png" alt="">
                                        <button>Add</button>
                                    </a>

                                </div>


                            </div>




                        </div>


                        <div class="product-details-right">


                            <div class="cart-section">
                                <img src="/assets/images/category1-images/3.png" alt="">
                                <p>No items in your cart</p>

                            </div>

                            <div class="offers-section">

                                <div class="offer-details">
                                    <div class="offer-img">
                                        <img src="/assets/images/category1-images/5.png" alt="">
                                    </div>
                                    <div class="offer-texts">
                                        <h2>Get 10% off on your first purchase</h2>
                                        <p>Use code: FIRST10</p>
                                    </div>
                                </div>

                                <a href="">
                                    <p> View More Offers </p>
                                    <img src="/assets/images/category1-images/7.png" alt="">
                                </a>

                            </div>

                            <div class="promise-section">

                                <div class="promise-text-details">
                                    <h1>HH Promise</h1>
                                    <div>
                                        <img src="/assets/images/category1-images/6.png" alt="">
                                        <p>Verified Professionals</p>
                                    </div>
                                    <div>
                                        <img src="/assets/images/category1-images/6.png" alt="">
                                        <p>Hassle Free Booking</p>
                                    </div>
                                    <div>
                                        <img src="/assets/images/category1-images/6.png" alt="">
                                        <p>Transparent Pricing</p>
                                    </div>
                                </div>


                                <div class="promise-img">
                                    <img src="/assets/images/category1-images/4.png" alt="">
                                </div>

                            </div>

                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>


    <div class="main-footer-section work-category-footer-section">

        <div class="container">
            <div class="main-footer-container">

                <!-- Logo Section -->
                <div class="main-footer-logo">
                    <img src="/assets/images/logo2.png" alt="Logo">
                </div>

                <!-- Center Section -->
                <div class="center-section">
                    <div class="center-part">
                        <h2>Company</h2>
                        <ul>
                            <li><a href="#">
                                    About us </a></li>
                            <li><a href="#">Terms & conditions </a></li>
                            <li><a href="#">Privacy policy </a></li>
                            <li><a href="#">
                                    Anti-discrimination policy </a></li>
                            <li><a href="#">
                                    UC impact </a></li>
                            <li><a href="#">
                                    Careers </a></li>
                        </ul>
                    </div>
                    <div class="center-part">
                        <h2>For customers</h2>
                        <ul>
                            <li><a href="#">UC reviews </a></li>
                            <li><a href="#">Categories near you </a></li>
                            <li><a href="#">Blog </a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                    <div class="center-part">
                        <h2>For partners</h2>
                        <ul>
                            <li><a href="#">Register as a professional </a></li>
                            <li><a href="#">For Promotions</a></li>

                        </ul>
                    </div>
                    <div class="center-part">
                        <h2>Social links</h2>
                        <ul>
                            <div class="social-icons">
                                <a href=""><i class="ri-twitter-x-line"></i></a>
                                <a href=""><i class="ri-instagram-line"></i></a>
                                <a href=""><i class="ri-facebook-circle-line"></i></a>
                                <a href=""><i class="ri-linkedin-box-line"></i></a>
                            </div>

                            <li><a href=""><img src="/assets/images/social media/appstore.png" alt=""></a></li>
                            <li><a href=""><img src="/assets/images/social media/googleplay.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>

                <!-- Last Section -->
                <div class="last-section">
                    <p>© Copyright 2024 Home Helps. All rights reserved.</p>
                </div>

            </div>
        </div>

    </div>


    <script src="/index.js"></script>

</body>

</html>